body{
    height:970px;
    margin:0;
    padding:0;
}
.ad{
    position: fixed;
    bottom:0;
    right:0;
    width:200px;
    /* 高= 设置的宽度 * 实际的宽度 / 实际的高度 */
    height:200px;  
    border: 1px solid #ccc;
}
.btn{
    position: absolute;
    top:0;
    right:0;
    cursor: pointer;
    width:14px;
}
.bg{
    width:200px;
}