table{
    display:inline-block;
}
tr,td{
    margin:0;
    padding:0;
}
tr{
    font-size: 20px;
    text-align: center;
}
/* td{
    width:160px;
    height:220px;
} */
td > img{
    width:130px;
    height:190px;
}
.select{
    background-color:#f60;
}
.start{
    cursor: pointer;
    background-color:#f60;
}