#table{
    display:inline-block;
    background-color:rgb(218, 197, 197);
}
tr,td{
    margin:0;
    padding:0;
}
tr{
    font-size: 20px;
    text-align: center;
}
td{
    width:100px;
    height:150px;
    padding :4px;
}
td > img{
    width:100px;
    height:150px;
    vertical-align:middle;
}
.select{
    background-color:#f60;
}
.start{
    cursor: pointer;
    background-color:#f60;
}